<section class="bg-white p-10 mt-20">
  <div class="container ">
    <div
      class="col-md-12 text-center flex flex-column justify-center items-center"
    >
      <h1 class="text-3xl text-gray-600 uppercase fs-1 fw-bold">
        contact
      </h1>
      <div class="flex text-gray-600 justify-center items-center gap-3">
        <div class="line bg-gray-600 w-20 h-1"></div>
        <i class="fa-solid fa-star text-2xl"></i>
        <div class="line bg-gray-600 w-20 h-1"></div>
      </div>
    </div>
<div class="row w-75 m-auto gy-4">
  <div class="col-md-12 text-emerald-700">
    <label [class]="!isLable?'block':'hidden'" class="mb-3" for="">userName:</label>
    <input  type="text" placeholder="userName" class="form-control">
  </div>
  <div class="col-md-12 text-emerald-700">
    <label class="mb-3" for="">userAge:</label>
    <input type="number" placeholder="userAge" class="form-control">
  </div>
  <div class="col-md-12 text-emerald-700">
    <label class="mb-3" for="">userEmail:</label>
    <input type="email" placeholder="userEmail" class="form-control">
  </div>
  <div class="col-md-12 text-emerald-700">
    <label class="mb-3" for="">userName:</label>
    <input type="password" placeholder="userPassword" class="form-control">
  </div>
  <div class="col-md-12">
    <button class=" bg-emerald-700 p-2 rounded-lg text-white">send massage</button>
  </div>

</div>
  </div>
</section>
